<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright (c) 2016 Eyedrivomatic Authors

 This file is part of the 'Eyedrivomatic' PC application.

    This program is intended for use as part of the 'Eyedrivomatic System' for 
    controlling an electric wheelchair using soley the user's eyes. 

    Eyedrivomatic is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Eyedrivomaticis distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Eyedrivomatic.  If not, see <http://www.gnu.org/licenses/>.
-->


<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Eyedrivomatic.ButtonDriver.Configuration.ButtonDriverConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <Eyedrivomatic.ButtonDriver.Configuration.ButtonDriverConfiguration>
        <setting name="ConnectionString" serializeAs="String">
          <value />
        </setting>
        <setting name="AutoConnect" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SafetyBypass" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="CommandTimeout" serializeAs="String">
          <value>500</value>
        </setting>
        <setting name="SettingsVersion" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="DrivingProfiles" serializeAs="Xml">
          <value>
            <profiles currentProfile="Indoor">
              <profile name="Indoor" diagonalSpeedReduction="False" xDuration="2000" yDuration="2000" nudgeDuration="1000">
                <speed name="Slow" x="0" yForward="9" yBackward="9" xDiag="14" xDiagReduced="4" yForwardDiag="6" yForwardDiagReduced="6" yBackwardDiag="6" yBackwardDiagReduced="0" nudge="6" />
                <speed name="Walk" x="0" yForward="13" yBackward="13" xDiag="15" xDiagReduced="5" yForwardDiag="10" yForwardDiagReduced="10" yBackwardDiag="10" yBackwardDiagReduced="0" nudge="6" />
                <speed yForward="17" yBackward="17" xDiag="17" xDiagReduced="7" yForwardDiag="14" yForwardDiagReduced="14" yBackwardDiag="14" yBackwardDiagReduced="0" nudge="6" />
              </profile>
              <profile name="Outdoor" diagonalSpeedReduction="False" xDuration="2000" yDuration="2000" nudgeDuration="1000">
                <speed name="Slow" x="0" yForward="13" yBackward="13" xDiag="15" xDiagReduced="5" yForwardDiag="10" yForwardDiagReduced="10" yBackwardDiag="10" yBackwardDiagReduced="0" nudge="6" />
                <speed yForward="17" yBackward="17" xDiag="17" xDiagReduced="7" yForwardDiag="14" yForwardDiagReduced="14" yBackwardDiag="14" yBackwardDiagReduced="0" nudge="6" />
                <speed yForward="21" yBackward="21" xDiag="22" xDiagReduced="12" yForwardDiag="18" yForwardDiagReduced="18" yBackwardDiag="18" yBackwardDiagReduced="0" nudge="6" />
              </profile>
            </profiles>
          </value>
        </setting>
      </Eyedrivomatic.ButtonDriver.Configuration.ButtonDriverConfiguration>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="91a96d2a154366d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="91a96d2a154366d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>