<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="DriversFolder" Name="Drivers">
        <Component Id="AdafruitCircuitPlayground.cat" Guid="{76D4CEAB-D2B3-444A-BC6C-57F581799C66}">
          <File Id="AdafruitCircuitPlayground.cat" KeyPath="yes" Source="Drivers\AdafruitCircuitPlayground.cat" />
        </Component>
        <Component Id="AdafruitCircuitPlayground.inf" Guid="{5D76543C-D44C-438A-8656-CEC38E993922}">
          <File Id="AdafruitCircuitPlayground.inf" KeyPath="yes" Source="Drivers\AdafruitCircuitPlayground.inf" />
        </Component>
        <Component Id="arduino.cat" Guid="{90C5723E-582A-4B10-88A3-C81A5AE19407}">
          <File Id="arduino.cat" KeyPath="yes" Source="Drivers\arduino.cat" />
        </Component>
        <Component Id="arduino.inf" Guid="{EFDC267B-3474-4605-891D-86F787811522}">
          <File Id="arduino.inf" KeyPath="yes" Source="Drivers\arduino.inf" />
        </Component>
        <Component Id="arduino_gemma.cat" Guid="{D06856AC-FFCD-4B1F-A5FA-B1616721B724}">
          <File Id="arduino_gemma.cat" KeyPath="yes" Source="Drivers\arduino_gemma.cat" />
        </Component>
        <Component Id="arduino_gemma.inf" Guid="{282172A0-A01B-456F-90A5-7A890CFC772B}">
          <File Id="arduino_gemma.inf" KeyPath="yes" Source="Drivers\arduino_gemma.inf" />
        </Component>
        <Component Id="arduino_org.cat" Guid="{47ABE7A7-499D-45C8-9515-D0B55C072173}">
          <File Id="arduino_org.cat" KeyPath="yes" Source="Drivers\arduino-org.cat" />
        </Component>
        <Component Id="arduino_org.inf" Guid="{F8039B45-D769-481F-8F08-19FBAD5136DF}">
          <File Id="arduino_org.inf" KeyPath="yes" Source="Drivers\arduino-org.inf" />
        </Component>
        <Component Id="dpinst_amd64.exe" Guid="{A7E5265E-BA62-44C3-A0F5-D2FE225E8C1B}">
          <File Id="dpinst_amd64.exe" KeyPath="yes" Source="Drivers\dpinst-amd64.exe" />
        </Component>
        <Component Id="dpinst_x86.exe" Guid="{A74E5A5E-0A76-4E74-9EB1-34101B213C69}">
          <File Id="dpinst_x86.exe" KeyPath="yes" Source="Drivers\dpinst-x86.exe" />
        </Component>
        <Component Id="genuino.cat" Guid="{8D9CCC0B-2DB3-4781-81FA-E5D74312C678}">
          <File Id="genuino.cat" KeyPath="yes" Source="Drivers\genuino.cat" />
        </Component>
        <Component Id="genuino.inf" Guid="{3E1205A0-B9FE-4E83-9B1F-C77B2158AA6C}">
          <File Id="genuino.inf" KeyPath="yes" Source="Drivers\genuino.inf" />
        </Component>
        <Component Id="README.txt" Guid="{CF9A6614-4874-4546-B956-F45F396953D6}">
          <File Id="README.txt" KeyPath="yes" Source="Drivers\README.txt" />
        </Component>
        <Component Id="linino.inf" Guid="{D2D5BCE9-CDB5-445C-8D57-E7341B80DEC9}">
          <File Id="linino.inf" KeyPath="yes" Source="Drivers\linino.inf" />
        </Component>
        <Component Id="linino_boards_amd64.cat" Guid="{062D7938-EB88-4AAD-BE88-57B9EFEFC8FA}">
          <File Id="linino-boards_amd64.cat" KeyPath="yes" Source="Drivers\linino-boards_amd64.cat" />
        </Component>
        <Component Id="linino_boards_x86.cat" Guid="{5A51CF86-734B-4C15-8BEF-1ADC20D37D63}">
          <File Id="linino-boards_x86.cat" KeyPath="yes" Source="Drivers\linino-boards_x86.cat" />
        </Component>
        <Component Id="Old_Arduino_Drivers.zip" Guid="{50983ED1-8C30-4D3B-AE7A-4F8D441E8143}">
          <File Id="Old_Arduino_Drivers.zip" KeyPath="yes" Source="Drivers\Old_Arduino_Drivers.zip" />
        </Component>
        <Directory Id="amd64" Name="amd64">
          <Component Id="libusb0.dll_1" Guid="{2E07E47E-9F27-469D-BCE6-5AC95BD5314E}">
            <File Id="libusb0.dll_1" KeyPath="yes" Source="Drivers\amd64\libusb0.dll" />
          </Component>
          <Component Id="libusb0.sys_1" Guid="{51CB7CB2-2D6C-456C-AF4B-1903835EC538}">
            <File Id="libusb0.sys_1" KeyPath="yes" Source="Drivers\amd64\libusb0.sys" />
          </Component>
        </Directory>
        <Directory Id="CP210x_6.7" Name="CP210x_6.7">
          <Component Id="ReleaseNotes.txt" Guid="{F2E61E3F-5AFB-4711-97BF-E5C79E5AFB95}">
            <File Id="ReleaseNotes.txt" KeyPath="yes" Source="Drivers\CP210x_6.7\ReleaseNotes.txt" />
          </Component>
          <Component Id="SLAB_License_Agreement_VCP_Windows.txt" Guid="{4B923F6B-5973-42C4-ABD1-C9312C283861}">
            <File Id="SLAB_License_Agreement_VCP_Windows.txt" KeyPath="yes"
                  Source="Drivers\CP210x_6.7\SLAB_License_Agreement_VCP_Windows.txt" />
          </Component>
          <Component Id="slabvcp.cat_1" Guid="{8F01EA64-FC23-4EE3-933A-90DC98D4ACE4}">
            <File Id="slabvcp.cat_1" KeyPath="yes" Source="Drivers\CP210x_6.7\slabvcp.cat" />
          </Component>
          <Component Id="slabvcp.inf_1" Guid="{3AEE3743-8065-4F2D-9C22-DAE9122CDD1A}">
            <File Id="slabvcp.inf_1" KeyPath="yes" Source="Drivers\CP210x_6.7\slabvcp.inf" />
          </Component>
          <Directory Id="cp210x6.7_x64" Name="x64">
            <Component Id="silabenm.sys_1" Guid="{19834B3B-D649-403C-BE91-CAAD50BC1B06}">
              <File Id="silabenm.sys_1" KeyPath="yes" Source="Drivers\CP210x_6.7\x64\silabenm.sys" />
            </Component>
            <Component Id="silabser.sys_1" Guid="{07EA252E-500F-483D-99E3-7399D5D76952}">
              <File Id="silabser.sys_1" KeyPath="yes" Source="Drivers\CP210x_6.7\x64\silabser.sys" />
            </Component>
            <Component Id="WdfCoInstaller01009.dll_1" Guid="{7A3FDBE7-309C-47D5-9A09-03618D1A43BA}">
              <File Id="WdfCoInstaller01009.dll_1" KeyPath="yes"
                    Source="Drivers\CP210x_6.7\x64\WdfCoInstaller01009.dll" />
            </Component>
          </Directory>
          <Directory Id="cp210x6.7_x86" Name="x86">
            <Component Id="silabenm.sys_2" Guid="{76B6B8FA-226E-4253-AFF9-B3C9CF15C2EB}">
              <File Id="silabenm.sys_2" KeyPath="yes" Source="Drivers\CP210x_6.7\x86\silabenm.sys" />
            </Component>
            <Component Id="silabser.sys_2" Guid="{B943B07A-98F0-4C3E-9C9D-E6992DED3D31}">
              <File Id="silabser.sys_2" KeyPath="yes" Source="Drivers\CP210x_6.7\x86\silabser.sys" />
            </Component>
            <Component Id="WdfCoInstaller01009.dll_2" Guid="{12676465-7277-44B8-AD5A-172090E889B2}">
              <File Id="WdfCoInstaller01009.dll_2" KeyPath="yes"
                    Source="Drivers\CP210x_6.7\x86\WdfCoInstaller01009.dll" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="CP210x_6.7.4" Name="CP210x_6.7.4">
          <Component Id="slabvcp.cat_2" Guid="{CB5216B9-610B-492B-ADC5-5317AE7C161B}">
            <File Id="slabvcp.cat_2" KeyPath="yes" Source="Drivers\CP210x_6.7.4\slabvcp.cat" />
          </Component>
          <Component Id="slabvcp.inf_2" Guid="{2260E6F1-5C65-42A5-91B2-394B55E51CBF}">
            <File Id="slabvcp.inf_2" KeyPath="yes" Source="Drivers\CP210x_6.7.4\slabvcp.inf" />
          </Component>
          <Directory Id="cp210x6.7.4_x64" Name="x64">
            <Component Id="silabser.sys_3" Guid="{C746EC2F-8605-4E32-A89F-1DD502B5644B}">
              <File Id="silabser.sys_3" KeyPath="yes" Source="Drivers\CP210x_6.7.4\x64\silabser.sys" />
            </Component>
            <Component Id="WdfCoInstaller01009.dll_3" Guid="{31A941A2-E98F-458E-91F9-A57C34B729BE}">
              <File Id="WdfCoInstaller01009.dll_3" KeyPath="yes"
                    Source="Drivers\CP210x_6.7.4\x64\WdfCoInstaller01009.dll" />
            </Component>
          </Directory>
          <Directory Id="cp210x6.7.4_x86" Name="x86">
            <Component Id="silabser.sys_4" Guid="{EEABA38A-D9CE-4925-9EB8-EFECF81B022B}">
              <File Id="silabser.sys_4" KeyPath="yes" Source="Drivers\CP210x_6.7.4\x86\silabser.sys" />
            </Component>
            <Component Id="WdfCoInstaller01009.dll_4" Guid="{B3BAB3EB-6C2A-4A1C-A68D-1263307D068A}">
              <File Id="WdfCoInstaller01009.dll_4" KeyPath="yes"
                    Source="Drivers\CP210x_6.7.4\x86\WdfCoInstaller01009.dll" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="FTDI_USB_Drivers" Name="FTDI USB Drivers">
          <Component Id="ftd2xx.h" Guid="{E8F3C0FB-93D0-48E4-9EA2-C9921AFA8566}">
            <File Id="ftd2xx.h" KeyPath="yes" Source="Drivers\FTDI USB Drivers\ftd2xx.h" />
          </Component>
          <Component Id="ftdibus.cat" Guid="{6416515F-F409-4DF7-A7E7-DCEA9B996634}">
            <File Id="ftdibus.cat" KeyPath="yes" Source="Drivers\FTDI USB Drivers\ftdibus.cat" />
          </Component>
          <Component Id="ftdibus.inf" Guid="{B1FB575E-459B-44D2-B61C-4BE95B1FF2D4}">
            <File Id="ftdibus.inf" KeyPath="yes" Source="Drivers\FTDI USB Drivers\ftdibus.inf" />
          </Component>
          <Component Id="ftdiport.cat" Guid="{4DAB2B73-A516-4316-A5DC-F2859E26EA7C}">
            <File Id="ftdiport.cat" KeyPath="yes" Source="Drivers\FTDI USB Drivers\ftdiport.cat" />
          </Component>
          <Component Id="ftdiport.inf" Guid="{A6783719-844E-4DDE-BDEC-EC4E40B2F643}">
            <File Id="ftdiport.inf" KeyPath="yes" Source="Drivers\FTDI USB Drivers\ftdiport.inf" />
          </Component>
          <Component Id="LogoVerificationReport.pdf" Guid="{9367C928-094B-426F-B029-604D0C47F004}">
            <File Id="LogoVerificationReport.pdf" KeyPath="yes"
                  Source="Drivers\FTDI USB Drivers\LogoVerificationReport.pdf" />
          </Component>
          <Directory Id="ftdi_amd64" Name="amd64">
            <Component Id="ftbusui.dll_1" Guid="{2234BFDF-69B5-44CF-B2CF-B5A7E49B60C2}">
              <File Id="ftbusui.dll_1" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftbusui.dll" />
            </Component>
            <Component Id="ftcserco.dll_1" Guid="{7B97957C-CDA6-4783-AFCE-3F7D3ED1C959}">
              <File Id="ftcserco.dll_1" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftcserco.dll" />
            </Component>
            <Component Id="ftd2xx.lib_1" Guid="{ED0FD680-B701-4D49-BCE9-503420644477}">
              <File Id="ftd2xx.lib_1" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftd2xx.lib" />
            </Component>
            <Component Id="ftd2xx64.dll" Guid="{4F08BB83-4C1B-408B-9246-D52532196875}">
              <File Id="ftd2xx64.dll" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftd2xx64.dll" />
            </Component>
            <Component Id="ftdibus.sys_1" Guid="{BE1E5D4D-8BBA-4074-9D6D-0D90D39675FA}">
              <File Id="ftdibus.sys_1" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftdibus.sys" />
            </Component>
            <Component Id="ftlang.dll_1" Guid="{D844A7F3-F5B0-47B0-8EA8-37F078E05853}">
              <File Id="ftlang.dll_1" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftlang.dll" />
            </Component>
            <Component Id="ftser2k.sys_1" Guid="{EA2192C9-88BB-4BDE-8907-7D53214552E1}">
              <File Id="ftser2k.sys_1" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftser2k.sys" />
            </Component>
            <Component Id="ftserui2.dll_1" Guid="{1B4DB66E-7C8F-410E-88CF-447A2088AED8}">
              <File Id="ftserui2.dll_1" KeyPath="yes" Source="Drivers\FTDI USB Drivers\amd64\ftserui2.dll" />
            </Component>
          </Directory>
          <Directory Id="ftdi_i386" Name="i386">
            <Component Id="ftbusui.dll_2" Guid="{2C49B65C-FC33-4793-91F5-53B19E4ECEA3}">
              <File Id="ftbusui.dll_2" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftbusui.dll" />
            </Component>
            <Component Id="ftcserco.dll_2" Guid="{45CE7FEA-C38D-4869-8461-F2855E2DCC78}">
              <File Id="ftcserco.dll_2" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftcserco.dll" />
            </Component>
            <Component Id="ftd2xx.lib_2" Guid="{2AFFE5A8-6BF2-4FDD-9C13-7011B2E0866A}">
              <File Id="ftd2xx.lib_2" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftd2xx.lib" />
            </Component>
            <Component Id="ftd2xx.dll" Guid="{12DE7C08-239A-4E4F-A691-0394328E8AC2}">
              <File Id="ftd2xx.dll" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftd2xx.dll" />
            </Component>
            <Component Id="ftdibus.sys_2" Guid="{9C880E63-6E80-476B-8F97-FBA95F54E551}">
              <File Id="ftdibus.sys_2" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftdibus.sys" />
            </Component>
            <Component Id="ftlang.dll_2" Guid="{9BB51D4B-635B-41C8-90A1-C990C1FC828E}">
              <File Id="ftlang.dll_2" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftlang.dll" />
            </Component>
            <Component Id="ftser2k.sys_2" Guid="{2ABE0EDE-EF68-4D9E-B0EE-FE24A4B39681}">
              <File Id="ftser2k.sys_2" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftser2k.sys" />
            </Component>
            <Component Id="ftserui2.dll_2" Guid="{C7F5EDD5-5360-4E31-A346-1939551A282A}">
              <File Id="ftserui2.dll_2" KeyPath="yes" Source="Drivers\FTDI USB Drivers\i386\ftserui2.dll" />
            </Component>
          </Directory>
          <Directory Id="ftdi_static" Name="Static">
            <Directory Id="ftdi_static_amd64" Name="amd64">
              <Component Id="ftd2xx.lib_3" Guid="{29FF6608-12B2-49E2-AFB3-7CA1B53C29A1}">
                <File Id="ftd2xx.lib_3" KeyPath="yes" Source="Drivers\FTDI USB Drivers\Static\amd64\ftd2xx.lib" />
              </Component>
            </Directory>
            <Directory Id="ftdi_static_i386" Name="i386">
              <Component Id="ftd2xx.lib_4" Guid="{298DB3AF-FF2B-4FEC-A03A-C31186E001EB}">
                <File Id="ftd2xx.lib_4" KeyPath="yes" Source="Drivers\FTDI USB Drivers\Static\i386\ftd2xx.lib" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="ia64" Name="ia64">
          <Component Id="libusb0.dll_2" Guid="{47B11200-C279-4BE0-A4EA-CEAC154CEF31}">
            <File Id="libusb0.dll_2" KeyPath="yes" Source="Drivers\ia64\libusb0.dll" />
          </Component>
          <Component Id="libusb0.sys_2" Guid="{C1A59F0E-EA28-4163-B00F-6004777CD4B4}">
            <File Id="libusb0.sys_2" KeyPath="yes" Source="Drivers\ia64\libusb0.sys" />
          </Component>
        </Directory>
        <Directory Id="license" Name="license">
          <Directory Id="license_libusb0" Name="libusb0">
            <Component Id="installer_license.txt" Guid="{8AEF3B41-D02F-450B-971A-2D00653BE3D5}">
              <File Id="installer_license.txt" KeyPath="yes" Source="Drivers\license\libusb0\installer_license.txt" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="x86" Name="x86">
          <Component Id="libusb0.sys_3" Guid="{EE1EA859-0316-48A6-AAAC-6BF7EEF62826}">
            <File Id="libusb0.sys_3" KeyPath="yes" Source="Drivers\x86\libusb0.sys" />
          </Component>
          <Component Id="libusb0_x86.dll" Guid="{D5EB31B9-BD55-4375-AD0E-E50EAB7871AC}">
            <File Id="libusb0_x86.dll" KeyPath="yes" Source="Drivers\x86\libusb0_x86.dll" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <CustomAction Id="InstallDrivers_x86"
                  Directory="APPLICATIONFOLDER"
                  ExeCommand="[DriversFolder]dpinst-x86.exe"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no" />

    <CustomAction Id="InstallDrivers_amd64"
                  Directory="APPLICATIONFOLDER"
                  ExeCommand="[DriversFolder]dpinst-amd64.exe"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no" />

    <ComponentGroup Id="DriversComponents">
      <ComponentRef Id="AdafruitCircuitPlayground.cat" />
      <ComponentRef Id="AdafruitCircuitPlayground.inf" />
      <ComponentRef Id="arduino.cat" />
      <ComponentRef Id="arduino.inf" />
      <ComponentRef Id="arduino_gemma.cat" />
      <ComponentRef Id="arduino_gemma.inf" />
      <ComponentRef Id="arduino_org.cat" />
      <ComponentRef Id="arduino_org.inf" />
      <ComponentRef Id="dpinst_amd64.exe" />
      <ComponentRef Id="dpinst_x86.exe" />
      <ComponentRef Id="genuino.cat" />
      <ComponentRef Id="genuino.inf" />
      <ComponentRef Id="linino.inf" />
      <ComponentRef Id="linino_boards_amd64.cat" />
      <ComponentRef Id="linino_boards_x86.cat" />
      <ComponentRef Id="README.txt" />
      <ComponentRef Id="Old_Arduino_Drivers.zip" />
      <ComponentRef Id="libusb0.dll_1" />
      <ComponentRef Id="libusb0.sys_1" />
      <ComponentRef Id="ReleaseNotes.txt" />
      <ComponentRef Id="SLAB_License_Agreement_VCP_Windows.txt" />
      <ComponentRef Id="slabvcp.cat_1" />
      <ComponentRef Id="slabvcp.cat_2" />
      <ComponentRef Id="slabvcp.inf_1" />
      <ComponentRef Id="slabvcp.inf_2" />
      <ComponentRef Id="silabenm.sys_1" />
      <ComponentRef Id="silabenm.sys_2" />
      <ComponentRef Id="silabser.sys_1" />
      <ComponentRef Id="silabser.sys_2" />
      <ComponentRef Id="silabser.sys_3" />
      <ComponentRef Id="silabser.sys_4" />
      <ComponentRef Id="WdfCoInstaller01009.dll_1" />
      <ComponentRef Id="WdfCoInstaller01009.dll_2" />
      <ComponentRef Id="WdfCoInstaller01009.dll_3" />
      <ComponentRef Id="WdfCoInstaller01009.dll_4" />
      <ComponentRef Id="ftd2xx.h" />
      <ComponentRef Id="ftdibus.cat" />
      <ComponentRef Id="ftdibus.inf" />
      <ComponentRef Id="ftdiport.cat" />
      <ComponentRef Id="ftdiport.inf" />
      <ComponentRef Id="LogoVerificationReport.pdf" />
      <ComponentRef Id="ftbusui.dll_1" />
      <ComponentRef Id="ftbusui.dll_2" />
      <ComponentRef Id="ftcserco.dll_1" />
      <ComponentRef Id="ftcserco.dll_2" />
      <ComponentRef Id="ftd2xx.dll" />
      <ComponentRef Id="ftd2xx.lib_1" />
      <ComponentRef Id="ftd2xx.lib_2" />
      <ComponentRef Id="ftd2xx.lib_3" />
      <ComponentRef Id="ftd2xx.lib_4" />
      <ComponentRef Id="ftd2xx64.dll" />
      <ComponentRef Id="ftdibus.sys_1" />
      <ComponentRef Id="ftdibus.sys_2" />
      <ComponentRef Id="ftlang.dll_1" />
      <ComponentRef Id="ftlang.dll_2" />
      <ComponentRef Id="ftser2k.sys_1" />
      <ComponentRef Id="ftser2k.sys_2" />
      <ComponentRef Id="ftserui2.dll_1" />
      <ComponentRef Id="ftserui2.dll_2" />
      <ComponentRef Id="libusb0.dll_2" />
      <ComponentRef Id="libusb0.sys_2" />
      <ComponentRef Id="installer_license.txt" />
      <ComponentRef Id="libusb0.sys_3" />
      <ComponentRef Id="libusb0_x86.dll" />
    </ComponentGroup>
  </Fragment>
</Wix>
