*.suo
*.vcxproj.user
*.csproj.user 

/Software/Debug
/Software/Release
bin
obj
/Software/packages


/Software/Eyedrivomatic.ButtonDriver.Hardware.Arduino/__vm
/Software/Eyedrivomatic.Firmware/__vm
/Software/Eyedrivomatic.Firmware/Debug
/Software/Eyedrivomatic.ButtonDriver.Hardware.Arduino/Release
/Software/Eyedrivomatic.Setup/Debug
/Software/Eyedrivomatic.Firmware/Release
/Software/Eyedrivomatic.sln.DotSettings.user
/Software/Eyedrivomatic.sln.DotSettings
/Software/Eyedrivomatic.Firmware/libraries/MSTimer2/
