*.suo
*.vcxproj.user
*.csproj.user 

/Software/Debug
/Software/Release
bin
obj
/Software/packages
.vs

/Software/Eyedrivomatic.ButtonDriver.Hardware.Arduino/__vm
/Software/Eyedrivomatic.Firmware/__vm
/Software/Eyedrivomatic.Firmware/Debug
/Software/Eyedrivomatic.ButtonDriver.Hardware.Arduino/Release
/Software/Eyedrivomatic.Setup/Debug
/Software/Eyedrivomatic.Firmware/Release
/Software/Eyedrivomatic.sln.DotSettings.user
/Software/Eyedrivomatic.sln.DotSettings
/Software/Eyedrivomatic.Firmware/libraries/MSTimer2/
/Software/.vs/Eyedrivomatic/v15/Solution.VC.db-wal
/Software/.vs/Eyedrivomatic/v15/Solution.VC.db-shm
/Software/.vs/Eyedrivomatic/v15/Solution.VC.db
/Software/.vs/Eyedrivomatic/v15/Browse.VC.db
/Software/UpgradeLog2.htm
/Software/UpgradeLog.htm
/Software/third-party/TobiiGazeSdk-CApi-4.0.3.627-Win64
/Software/Eyedrivomatic.Firmware/MobilityConceptBuild
