<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eyedrivomatic.Eyegaze.Configuration.DwellClickConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Eyedrivomatic.Eyegaze.Configuration.DwellClickConfiguration>
            <setting name="SettingsVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableDwellClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DwellTimeoutMilliseconds" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RepeatDelayMilliseconds" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="StandardDwellTimeMilliseconds" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="DirectionButtonDwellTimeMilliseconds" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="StopButtonDwellTimeMilliseconds" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="StartButtonDwellTimeMilliseconds" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>Mouse</value>
            </setting>
        </Eyedrivomatic.Eyegaze.Configuration.DwellClickConfiguration>
    </userSettings>
</configuration>