<?xml version="1.0" encoding="utf-8"?>
<Macros xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Macro DisplayName="Turn chair Off" IconPath="Images\Off.png">
    <Tasks>
      <ToggleRelay DisplayName="Toggle Relay 1 once." Relay="1" Repeat="0" Delay="0" />
    </Tasks>
  </Macro>
  <Macro DisplayName="Turn chair on.">
    <Tasks>
      <ToggleRelay DisplayName="Toggle Relay 1 once." Relay="1" Repeat="0" Delay="0" />
      <Delay DiaplayName="Wait For Chair To start" Time="3000"/>
      <ToggleRelay DisplayName="Toggle Relay 2 twice." Relay="2" Repeat="1" Delay="1000" />
    </Tasks>
  </Macro>
</Macros>