<?xml version="1.0" encoding="utf-8"?>
<Macros xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <Macro DisplayName="Power" Icon="Images/Off.png">
    <Tasks>
      <CycleRelay DisplayName="Cycle relay 1." Relay="1"/>
    </Tasks>
  </Macro>

  <Macro DisplayName="Mode">
    <Tasks>
      <CycleRelay DisplayName="Cycle relay 2." Relay="2"/>
    </Tasks>
  </Macro>

  <Macro DisplayName="Spare">
    <Tasks>
      <CycleRelay DisplayName="Cycle relay 3." Relay="3"/>
    </Tasks>
  </Macro>

</Macros>