<?xml version="1.0" encoding="utf-8"?>
<Macros xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <Macro DisplayName="Tilt" Icon="Images/Tilt.png">
    <Tasks>
      <ToggleRelay DisplayName="Toggle relay 2 twice." Relay="2" Repeat="2" Delay="250" />
      <Delay DisplayName="Wait for 500ms." Time="500" />
      <ToggleRelay DisplayName="Toggle relay 2 twice." Relay="2" Repeat="2" Delay="250" />
      <Delay DisplayName="Wait for 500ms." Time="500" />
      <ToggleRelay DisplayName="Toggle relay 2 twice." Relay="2" Repeat="2" Delay="250" />
      <Delay DisplayName="Wait for 500ms." Time="500" />
      <ToggleRelay DisplayName="Toggle relay 2 twice." Relay="2" Repeat="2" Delay="250" />
    </Tasks>
  </Macro>

  <Macro DisplayName="Speed 2">
    <Tasks>
      <ToggleRelay DisplayName="Toggle relay 2 twice." Relay="2" Repeat="2" Delay="250" />
      <Delay DisplayName="Wait for 500ms." Time="500" />
      <ToggleRelay DisplayName="Toggle relay 2 twice." Relay="2" Repeat="2" Delay="250" />
      <Delay DisplayName="Wait for 500ms." Time="500" />
      <ToggleRelay DisplayName="Toggle relay 2 twice." Relay="2" Repeat="2" Delay="250" />
    </Tasks>
  </Macro>

</Macros>