<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <userSettings>
    <Eyedrivomatic.ButtonDriver.Configuration.ButtonDriverConfiguration>
      <setting name="Variant" serializeAs="String" xdt:Transform="Insert" >
        <value>MC</value>
      </setting>
    </Eyedrivomatic.ButtonDriver.Configuration.ButtonDriverConfiguration>
  </userSettings>

</configuration>