<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.0.0" targetFramework="net47" />
  <package id="FakeItEasy.Analyzer" version="4.0.0" targetFramework="net47" />
  <package id="FakeItEasy.Analyzer.CSharp" version="4.0.0" targetFramework="net47" />
  <package id="FakeItEasy.Analyzer.VisualBasic" version="4.0.0" targetFramework="net47" />
  <package id="Fody" version="2.1.2" targetFramework="net47" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="NullGuard.Fody" version="1.5.2" targetFramework="net47" developmentDependency="true" />
  <package id="NUnit" version="3.8.1" targetFramework="net47" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net46" />
</packages>