<?xml version="1.0" encoding="utf-8"?>
<Macros xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Macro DisplayName="TestMacro1">
    <Tasks>
      <ToggleRelay DisplayName="Toggle Relay 1 a few times." Relay="1" Repeat="3" Delay="100" />
      <Delay DisplayName="Wait for a second." Time="1000" />
      <ToggleRelay DisplayName="Toggle Relay 2 once." Relay="2" Repeat="0" Delay="0" />
    </Tasks>
  </Macro>
  <Macro DisplayName="TestMacro2">
    <Tasks />
  </Macro>
</Macros>