<?xml version="1.0" encoding="utf-8"?>
<Macros xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Macro DisplayName="TestMacro1">
    <Tasks>
      <ToggleRelay Relay="1" Repeat="3" Delay="100">
        <DisplayName>Toggle Relay 1 a few times.</DisplayName>
      </ToggleRelay>
      <Delay DelayTime="1000">
        <DisplayName>Wait for a second.</DisplayName>
      </Delay>
      <ToggleRelay Relay="2" Repeat="0" Delay="0">
        <DisplayName>Toggle Relay 2 once.</DisplayName>
      </ToggleRelay>
    </Tasks>
  </Macro>
  <Macro DisplayName="TestMacro2">
    <Tasks />
  </Macro>
</Macros>