<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Eyedrivomatic.Device.Configuration.DeviceConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Eyedrivomatic.Device.Configuration.DeviceConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RJCP.SerialPortStream" publicKeyToken="5f5e7b70c6a74deb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.4.0" newVersion="2.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Eyedrivomatic.Device.Configuration.DeviceConfiguration>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
    </Eyedrivomatic.Device.Configuration.DeviceConfiguration>
  </userSettings>
  <applicationSettings>
    <Eyedrivomatic.Device.Configuration.DeviceConfiguration>
      <setting name="Variant" serializeAs="String">
        <value />
      </setting>
    </Eyedrivomatic.Device.Configuration.DeviceConfiguration>
  </applicationSettings>
</configuration>